<div
  class="filter-container card"
  role="region"
  aria-labelledby="filters-title"
>
  <h3 class="filter-title" id="filters-title">Filtros</h3>

  <!-- <div class="filter-item">
    <label for="daysAgo" class="filter-label" id="daysAgo"
      >Dias atrás: {{ daysAgo }}</label
    >
    <p-slider
      [(ngModel)]="daysAgo"
      [min]="1"
      [max]="30"
      [step]="1"
      (ngModelChange)="onDaysAgoChange($event)"
      [style]="{ width: '100%' }"
      id="daysAgo"
      aria-labelledby="daysAgo"
    >
    </p-slider>
  </div> -->

  <div class="filter-item">
    <label for="sortBy" class="filter-label" id="sortBy">Ordenar por:</label>
    <p-dropdown
      [options]="sortByOptions"
      [(ngModel)]="sortBy"
      (ngModelChange)="onSortByChange($event)"
      [style]="{ minWidth: '50px', width: '100%' }"
      id="sortBy"
      aria-labelledby="sortBy"
    />
  </div>

  <div class="filter-item">
    <label for="sortOrder" class="filter-label" id="sortOrder">Em ordem:</label>
    <p-dropdown
      [options]="sortOrderOptions"
      [(ngModel)]="sortOrder"
      (ngModelChange)="onSortOrderChange($event)"
      [style]="{ minWidth: '50px', width: '100%' }"
      id="sortOrder"
      aria-labelledby="sortOrder"
    />
  </div>

  <div class="filter-item">
    <label for="priceRangeMin" class="filter-label">Entre:</label>
    <div class="price-range">
      <p-inputNumber
        id="priceRangeMin"
        [(ngModel)]="priceMin"
        (ngModelChange)="onPriceMinChange($event)"
        placeholder="Min"
        [style]="{ minWidth: '50px', width: '100%' }"
        aria-label="Preço mínimo"
      />
      <p-inputNumber
        id="priceRangeMax"
        [(ngModel)]="priceMax"
        (ngModelChange)="onPriceMaxChange($event)"
        placeholder="Max"
        [style]="{ minWidth: '50px', width: '100%' }"
        aria-label="Preço máximo"
      />
    </div>
  </div>

  <div class="filter-actions">
    <p-button
      label="Pesquisar"
      class="filter-button"
      severity="info"
      [style]="{ width: '100%' }"
      (click)="onSearch()"
      aria-label="Pesquisar"
    />
    <p-button
      label="Limpar"
      severity="warning"
      class="filter-button"
      [style]="{ width: '100%' }"
      (click)="onClear()"
      aria-label="Limpar"
    />
  </div>
</div>
