<h3>Filtros</h3>

<label for="daysAgo" class="mt-3 mb-3">Dias atrás: {{ daysAgo }}</label>
<p-slider
  [(ngModel)]="daysAgo"
  [min]="1"
  [max]="30"
  [step]="1"
  (ngModelChange)="onDaysAgoChange($event)"
  [style]="{ width: '100%' }"
  id="daysAgo"
>
</p-slider>

<label for="sortBy" class="mt-3">Ordenar por:</label>
<p-dropdown
  [options]="sortByOptions"
  [(ngModel)]="sortBy"
  (ngModelChange)="onSortByChange($event)"
  [style]="{ minWidth: '50px', width: '100%' }"
  id="sortBy"
/>

<label for="sortOrder" class="mt-3">Em ordem:</label>
<p-dropdown
  [options]="sortOrderOptions"
  [(ngModel)]="sortOrder"
  (ngModelChange)="onSortOrderChange($event)"
  [style]="{ minWidth: '50px', width: '100%' }"
  id="sortOrder"
/>

<label for="priceRangeMin" class="mt-4">Entre:</label>
<div class="d-flex flex-column mb-3" style="gap: 16px">
  <p-inputNumber
    id="priceRangeMin"
    [(ngModel)]="priceMin"
    (ngModelChange)="onPriceMinChange($event)"
    placeholder="Min"
    [style]="{ minWidth: '50px', width: '100%' }"
  />
  <p-inputNumber
    id="priceRangeMax"
    [(ngModel)]="priceMax"
    (ngModelChange)="onPriceMaxChange($event)"
    placeholder="Max"
    [style]="{ minWidth: '50px', width: '100%' }"
  />
</div>

<p-button
  label="Pesquisar"
  class="mt-3"
  severity="info"
  [style]="{ width: '100%' }"
  (click)="onSearch()"
/>
<p-button
  label="Limpar filtros"
  severity="warning"
  [style]="{ width: '100%' }"
  (click)="onClear()"
/>
