<p-toast aria-live="polite"></p-toast>

<p-sidebar [(visible)]="showMenu" position="right" aria-label="Menu de Filtros">
  <app-filter
    [(sortBy)]="sortBy"
    [(sortOrder)]="sortOrder"
    [(priceMin)]="priceMin"
    [(priceMax)]="priceMax"
    [(daysAgo)]="daysAgo"
    (search)="loadData({ first: 0, last: 0 }, true)"
    (clearFilters)="clearFilters()"
    aria-label="Filtro de Produtos"
  ></app-filter>
</p-sidebar>

<main class="container-fluid">
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <div class="d-flex flex-column m-1 p-3 filtros">
        <app-filter
          [(sortBy)]="sortBy"
          [(sortOrder)]="sortOrder"
          [(priceMin)]="priceMin"
          [(priceMax)]="priceMax"
          [(daysAgo)]="daysAgo"
          (search)="loadData({ first: 0, last: 0 }, true)"
          (clearFilters)="clearFilters()"
          aria-label="Filtro de Produtos"
        ></app-filter>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <p-scroller
        class="custom-scroller"
        *ngIf="products.length > 0"
        [items]="products"
        scrollHeight="calc(100vh - 76px)"
        [itemSize]="300"
        [lazy]="true"
        [step]="10"
        (onLazyLoad)="loadData($event)"
        #scroller
        aria-label="Lista de Produtos"
      >
        <ng-template let-product pTemplate="item">
          <app-product
            [product]="product"
            [loading]="product.loading ?? false"
            (showDialog)="handleShowDialog($event)"
            aria-label="Produto"
          ></app-product>
        </ng-template>
      </p-scroller>

      <div
        *ngIf="products.length === 0 && !loading"
        class="alert alert-danger mt-4 d-flex flex-row align-items-center gap-2"
        role="alert"
        aria-live="assertive"
      >
        <i class="pi pi-info-circle" aria-hidden="true"></i
        ><span>Nenhum produto encontrado</span>
      </div>
      <div *ngIf="products.length === 0 && loading" class="col">
        <app-product
          [loading]="true"
          aria-label="Produto carregando"
        ></app-product>
        <app-product
          [loading]="true"
          aria-label="Produto carregando"
        ></app-product>
        <app-product
          [loading]="true"
          aria-label="Produto carregando"
        ></app-product>
      </div>
    </div>

    <div class="col-lg-3 d-none d-lg-block" style="margin-top: 15px">
      <i
        class="pi pi-angle-up"
        style="font-size: 24px; cursor: pointer"
        (click)="scroller.scrollToIndex(0, 'smooth')"
        aria-label="Voltar ao topo"
      ></i>
    </div>
  </div>
</main>

<p-dialog
  [(visible)]="display"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  aria-label="Dialog de Imagem"
>
  <img
    *ngIf="selectedImage"
    [src]="'data:image/jpg;base64,' + selectedImage"
    alt="Imagem Selecionada"
    style="width: 100%; max-height: 480px"
  />
</p-dialog>
