.product-item {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #2a323d;
  border-radius: 0.25rem;
  height: 220px;
  margin: 15px 0;
  background-color: #fff;
}

.product-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: bold;
  color: #2a323d;
}

.prices {
  margin-top: 10px;
  font-size: clamp(1rem, 2vw, 1.25rem);
  text-align: center;
}

.normal-price {
  display: block;
  margin-bottom: 10px;
}

.discounted-price {
  color: #f7d716;
  display: block;
  margin-top: 10px;
}

.store-info {
  display: flex;
  align-items: center;
  color: #333333;
  margin-top: 10px;
  font-size: clamp(0.75rem, 1.8vw, 1rem);
}

.store-info i {
  margin-right: 5px;
}
.view-icon {
  cursor: pointer;
  font-size: 24px;
}

::ng-deep .p-skeleton {
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
}

.product-date {
  font-size: clamp(0.75rem, 1.8vw, 1rem);
}
