<div class="product-item card" role="region" aria-labelledby="product-title">
  <div class="product-info" *ngIf="!loading; else skeletonTemplate">
    <div class="product-header">
      <h3 class="product-name" id="product-title">
        {{ formatLabel(product.label) }}
      </h3>
      <img
        class="product-thumbnail"
        (click)="onShowDialog(product.base64_image)"
        [src]="'data:image/jpg;base64,' + product.base64_image"
        role="button"
        aria-label="Ver imagem completa do produto"
      />
    </div>

    <div class="prices" aria-live="polite">
      <span
        *ngIf="
          product.normal_price !== null && product.discounted_price !== null
        "
        class="normal-price"
        aria-label="Preço normal"
      >
        {{ product.normal_price | currency : "BRL" }}
      </span>
      <span
        *ngIf="
          product.discounted_price !== null && product.normal_price !== null
        "
        class="discounted-price"
        aria-label="Preço com desconto"
      >
        {{ product.discounted_price | currency : "BRL" }}
      </span>
      <span
        *ngIf="
          product.normal_price === null || product.discounted_price === null
        "
        class="current-price"
        aria-label="Preço do produto"
      >
        {{
          (product.normal_price !== null
            ? product.normal_price
            : product.discounted_price
          ) | currency : "BRL"
        }}
      </span>
    </div>
    <div class="product-footer">
      <div class="store-info" aria-label="Informações da loja">
        <i class="pi pi-map-marker" aria-hidden="true"></i>
        <a
          [href]="generateGoogleMapsLink(product.location)"
          target="_blank"
          aria-label="Localização da loja no Google Maps"
        >
          {{ product.location || "LOJA PLACEHOLDER" }}
        </a>
      </div>
      <div class="product-date" aria-label="Data de criação">
        {{ product.created_at | date : "dd/MM/yyyy HH:mm" }}
      </div>
    </div>
  </div>
  <ng-template #skeletonTemplate>
    <div class="product-info">
      <div class="d-flex flex-row">
        <p-skeleton width="30vw" height="1.5rem" aria-hidden="true" />
        <p-skeleton
          width="100px"
          height="100px"
          shape="square"
          class="ms-auto"
          aria-hidden="true"
        />
      </div>
      <div
        class="prices d-flex justify-content-center flex-column align-items-center mt-4"
        aria-hidden="true"
      >
        <p-skeleton width="15vw" height="1.5rem" class="mb-4" />
        <p-skeleton width="20vw" height="1.5rem" class="mb-3" />
      </div>
      <p-skeleton width="15vw" height="1.5rem" aria-hidden="true" />
    </div>
  </ng-template>
</div>
