<div
  class="product-item card p-3"
  role="region"
  aria-labelledby="product-title"
>
  <div class="product-info" *ngIf="!loading; else skeletonTemplate">
    <div class="d-flex flex-row">
      <div class="product-name ms-auto" id="product-title">
        {{ formatLabel(product.label) }}
      </div>
      <i
        class="pi pi-eye view-icon ms-auto"
        (click)="onShowDialog(product.base64_image)"
        style="cursor: pointer; margin-left: 10px"
        aria-label="Ver imagem do produto"
      >
      </i>
    </div>

    <div
      class="prices d-flex justify-content-center flex-column align-items-center mt-auto"
      aria-live="polite"
    >
      <span
        *ngIf="
          product.normal_price !== null && product.discounted_price !== null
        "
        class="normal-price text-muted text-decoration-line-through"
        aria-label="Preço normal"
      >
        Preço normal: {{ product.normal_price | currency : "BRL" }}
      </span>
      <span
        *ngIf="
          product.discounted_price !== null && product.normal_price !== null
        "
        class="discounted-price text-success"
        aria-label="Preço com desconto"
      >
        Preço com desconto: {{ product.discounted_price | currency : "BRL" }}
      </span>
      <span
        *ngIf="
          product.normal_price === null || product.discounted_price === null
        "
        class="text-success"
        aria-label="Preço do produto"
      >
        Preço:
        {{
          (product.normal_price !== null
            ? product.normal_price
            : product.discounted_price
          ) | currency : "BRL"
        }}
      </span>
    </div>
    <div class="d-flex flex-row justify-content-between mt-2">
      <div
        class="store-info mt-auto text-secondary"
        aria-label="Informações da loja"
      >
        <i class="pi pi-map-marker mr-2" aria-hidden="true"></i>
        <a
          [href]="generateGoogleMapsLink(product.location)"
          target="_blank"
          aria-label="Localização da loja no Google Maps"
        >
          {{ product.location || "LOJA PLACEHOLDER" }}
        </a>
      </div>
      <div class="product-date" aria-label="Data de criação">
        {{ product.created_at | date : "dd/MM/yyyy HH:mm" }}
      </div>
    </div>
  </div>
  <ng-template #skeletonTemplate>
    <div class="product-info">
      <div class="d-flex flex-row">
        <p-skeleton
          width="30vw"
          height="1.5rem"
          class="ms-auto"
          aria-hidden="true"
        />
        <p-skeleton
          width="24px"
          height="24px"
          shape="circle"
          class="ms-auto"
          aria-hidden="true"
        />
      </div>
      <div
        class="prices d-flex justify-content-center flex-column align-items-center mt-4"
        aria-hidden="true"
      >
        <p-skeleton width="15vw" height="1.5rem" class="mb-4" />
        <p-skeleton width="20vw" height="1.5rem" class="mb-3" />
      </div>
      <p-skeleton width="15vw" height="1.5rem" aria-hidden="true" />
    </div>
  </ng-template>
</div>
